<!-- You can bypass this default templates by adding an ./plugins/blog/index.html to your default template folder -->
<div class="container">
	<div class="row">
		{% for post in posts %}
			{% include 'plugins/blog/list_post.html' %}
		{% empty %}
			<b>No posts</b>
		{% endfor %}

		<ul class="pager">
		  	{% if cur_page > 1 %}
				<li class="previous"><a href="/blog/{{ cur_page|add:"-1"}}/">&larr; Newer</a></li>
			{% endif %}

		  	{% if more %}					
		  		<li class="next"><a href="/blog/{{ cur_page|add:"1" }}">Older &rarr;</a></li>
			{% endif %}
		</ul>
	</div>
</div>


