{% load tt_blog %}<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>Newest Posts in Blaine Garrett's Blog</title>
		<description>Be sure to subscribe.</description>
		<link>http://www.someexamplerssdomain.com/main.html</link>
		<atom:link href="http://www.blainegarrett.com/feed/atom/" rel="self" type="application/rss+xml" />
		<lastBuildDate>Wed, 02 Oct 2002 15:00:00 +0200</lastBuildDate>
		<pubDate>Wed, 02 Oct 2002 15:00:00 +0200</pubDate>
		<ttl>1800</ttl>

		{% for post in posts %}
		<item>
			<title>{{ post.title }}</title>
			<link>http://www.blainegarrett.com{{ post.get_permalink }}</link>
			<guid isPermaLink="false">{{ post.key.urlsafe }}</guid>
			<pubDate>{{ post.published_date|date:"D, d M Y H:i:s O" }}</pubDate>
			<description>{% render_excerpt post %}</description>

			{% comment %}
			<updated>{{ post.modified_date|date:"Y-m-d\TH:i:sO" }}</updated>
			
			<published>{{ post.published_date|date:"D, d M Y H:i:sO" }}</published>
			<summary>{% render_excerpt post %}</summary>
			<author>
				<name>Blaine Garrett</name>
				<email>blaine@blainegarrett.com</email>
				<uri>http://www.blainegarrett.com/</uri>
			</author>
			{% endcomment %}
		</item>
		{% endfor %}
	</channel>
</rss>