{% load tt_blog %}
<!-- You can bypass this default templates by adding an ./plugins/blog/view.html to your default template folder -->

<div class="container">
	<div class="row">

		<h2><a href="{{ post.get_permalink }}">{{ post.title }}</a></h2>
	
		<div class="blog-post-tags">
			<ul class="list-unstyled list-inline blog-info">
				<li><i class="icon-calendar"></i> {{ post.published_date|date:"F d, Y" }}</li>
				<li><i class="icon-pencil"></i> Blaine Garrett</li>
				<!-- <li><i class="icon-comments"></i> <a href="#">24 Comments</a></li> -->
			</ul>

			<!-- <ul class="list-unstyled list-inline blog-tags">
			<li>
			<i class="icon-tags"></i> 
			<a href="#">Technology</a> 
			<a href="#">Education</a>
			<a href="#">Internet</a>
			<a href="#">Media</a>
			</li>
			</ul>
			-->
		</div>

		<!-- 
		<div class="blog-img">
			<img class="img-responsive" src="assets/img/posts/2.jpg" alt="">
		</div>
		-->

		<!-- start of blog post content -->
		{% render_content post.content %}
		<!-- end of blog post content -->

	</div>
</div>